h1 {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  /* padding: 10px; */
}

.left {
  width: 25%;
}

.right {
  width: 75%;
  text-align: left;
}

.left70 {
  width: 70%;
}

.right30 {
  width: 30%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
